body {
	margin-top: 80px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.rainimg {
	background: url(../img/rain.jpg) no-repeat center center;
	background-size: cover;
	padding: 30px 0 30px 0;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	/*
	text-align: center;
	
	*/
}

.navbar{
	min-height: 80px !important;
}
.hirestuff{
	background: url(../img/sunflowers.jpg) no-repeat center center;
	background-size: cover;
	padding: 30px 0 30px 0;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	/*
	text-align: center;
	padding: 100px 0;	
	*/
}

.mainlink{
	font-size:1.2em;
	margin-top:15px;
}
.phone{
	color:#009;
}
.callnow {
	padding-left:25px;
	padding-right:25px;
	padding-bottom:20px;
	display: inline-block;
	text-align: center;
	border-radius:10px;
	font-size:1.5em;
	background-color:rgba(255,255,255,0.7);
}

.blacklink{
	color:#000;
}
.bigcallnum{
	font-size:1.4em;
}

.smallcallnum{
	font-size:1.1em;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.section-heading {
	font-size: 4em;
	margin: 30px 0;
}

.section-lead {
	margin: 30px 0;
}

.section-paragraph {
	margin: 30px 0;
}

footer {
	margin: 50px 0;
}

@media (max-width: 768px) {

.section-heading {
	font-size: 2em;
}

.section {
	padding-top: 25px;
	padding-bottom: 25px;
}
