<div class="w-box panel">
	<div class="panel-body add-growl">
    <div class="row">

        <div class="col-sm-5">
            <h3 class="section-title">Select your size.</h3>
             
        	<div>
                <size-table />
        	</div>
        	<p>
	            <strong>Please note</strong>
	            <br>
	            There is a size tolerance of +/- 2cm
				If in doubt regarding the best size to suit, please follow the measurement chart as closely as possible

	        </p>
	        <p>
	        		<strong>WASHING</strong> -The Garment should be washed at a maximum temperature of
						40 degrees and should NOT be tumble dried.<br>

					<strong>IRONING</strong> - You should NOT iron over the padded areas of the top.	
	        </p>
        </div>

        <div class="col-sm-3">

        	<div class="row">
        		<div class="col-xs-12" style="padding-bottom:42px">
            	    <h3 class="section-title">Select your color.</h3>
		            <div>
		            	<color-table />
		            </div>
				</div>		            
			</div>	
			<div class="row">
        		<div class="col-xs-12">

            
		           <h3 class="section-title">Select your style.</h3>

		            <div class="clickrow" ng-class="{selected:sleeveless}" ng-click="togglesleeveless();"> 
		                <div class="sleeve-swatch">
		                    Sleveless<br />
		                    <span class="smaller">
		                        (only in grey)
		                    </span><br />
		                    <i class="fa" ng-class="{'fa-square-o':!sleeveless,'fa-check-square-o':sleeveless}"></i>
		                </div>
		            </div>

	        	</div>
	        </div>
	    </div>    	

        <div class="col-sm-4">

        	<div class="">
        				   <h3 class="section-title">Your Funkybod</h3>
                            <div class="thumbnail">
                                <img alt="" ng-src="{{ mainimage() }}" class="img-responsive">
                                
                                

                            </div>
                           
                            <table>
				                <tr>
				                    <td><b>Color:</b></td>
				                    <td>{{ maincolor.name }}</td>
				                    
				                </tr>
				                <tr>
				                	<td><b>Size:</b></td>
				                    <td>{{ mainsize.name }}</td>
				                </tr>
				                <tr ng-show="sleeveless">
				                    <td><b>Style:</b></td>
				                    <td>Sleveless</td>
				                </tr>
				                <tr>
				                    <td><b>Qty:</b></td>
				                    <td><input type="number" class="input form-control" ng-model="qty" placeholder="1" /></td>
				                </tr>
				                <tr>
				                    <td><b>Price:</b></td>
				                    <td>{{ qty * 29.99 | currency:"£" }}</td>
				                </tr>
				                
				            </table>
				                 

                        </div>


            
            
            
    <!--
            <label>
              <input type="radio" name="5dayshipping" id="5dayshipping" value="45" checked="">
              5 Day shipping @ £45
            </label>
    -->
          <br>

            <button class="btn btn-two " ng-click="addtocart()"><i class="fa fa-plus-square"></i>Add To Cart</button>
            <a class="btn btn-four" href="/cart.html"> Edit Cart</a>
            <a class="btn btn-four" href="/cart.html"><i class="fa fa-shopping-cart"></i> Checkout</a>

            <!--
            <form action="/charge" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_npUDT7hoMCMbr16LZBGEyhsM"
                data-image="/square-image.png"
                data-name="Demo Site"
                data-description="2 widgets ($20.00)"
                data-amount="2000">
              </script>
            </form>
            -->
        </div>
            
    </div>
    </div>
</div>