<table class="sizetable table table-bordered table-responsive">
<thead>
  <tr class="wp-theme-3 bg-4">
    <th>Size</th>
    <th>Chest (cm)</th>
    <th>Chest (in)</th>
    <th>Length (cm)</th>
  </tr>
</thead>
<tbody>
<tr ng-repeat="size in sizes" style="cursor:hand;" ng-class="{selected:isselected(size)}" ng-click="choosetablesize(size);">
  <td class="info"><strong>{{ size.name }}</strong></td>
  <td>{{ size.chest[0] }} - {{ size.chest[1] }}</td>
  <td>{{ size.chest[0] | cm2inch | number:1 }} - {{ size.chest[1] | cm2inch | number:1 }}</td>
  <td>{{ size.length }}</td>
</tr>
</tbody>

</table>