.bigtext{
	font-size:92pt;
	color:#000;
}
#socialTimeline {
	margin: 0 auto;	
}

.videoWrapper {
	position: relative;
	padding-bottom: 70.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}