<% var activemenu = 'home'; %>
<% include header.html %>

<link href="//fonts.googleapis.com/css?family=Diplomata+SC" rel="stylesheet" type="text/css" />

    

    <section class="slice bg-5">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-6">
                    	<h3 class="section-title">Welcome to DryHire UK.</h3>
                        <p>We are a specialist dehumidifier hire company, providing a first class service with the latest high performance machines.  </p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i>Same day / Next Day Delivery. </li>
                            <li><i class="fa fa-check"></i>Competitive Rates.</li>
                            <li><i class="fa fa-check"></i>Reliable Friendly Service.</li>
                            <li><i class="fa fa-check"></i>All Major Credit Cards Accepted.</li>
                        </ul>
                        <p class="well">"Our prices are fully inclusive and there are no hidden extras, i.e. includes free local delivery and collecion. Deposit required for non-account customers."</p>

                        <p>Discounts available for long term hires.</p>
 
                        <p>Please take a look at our current range below and give as a call for an immediate hire.</p>
                    </div>
                    <div class="col-md-5 col-xs-6 ">
                        <div class="w-box w-box-inverse">
                        	<div class="videoWrapper">
                            	<iframe height="315" src="//www.youtube.com/embed/kv2KgpCFa70?&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

      <section class="slice bg-4 p-50">
        <div class="w-section inverse">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Call Now!</h2>
                            <h2>07903 801031 OR 07966 487504</h2>

                            <p>
                                
                                
                                
                            </p>
                            <span class="clearfix"></span>
                            
                            <div class="text-center">
                                <!--<a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-one margin-t-20 ext-source" title="">Whatch our video</a>-->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice animate-hover-slide bg-3">
        <div class="w-section inverse">
            <div class="container">
            
                <h3 class="section-title">Our Range.</h3>
                    <p style="margin-bottom:20px;">
                The Funkybod Muscle enhancing top is manufactured from materials which allow the skin to breathe whilst maintaining a snug fit and natural looking enhancement when worn under clothing.


                It has been noted that the best colour to wear under a light colored or thin shirt is the Grey.  The white can tend to be a bit bright in comparison to the effect when no undershirt is worn.

               </p>

                <div class="row">
                    <div class="col-xs-6 col-sm-3">

                        <img src="images/humidifier/dehumidifier 1.png" class="img-responsive" />

                    </div>

                    <div class="col-xs-6 col-sm-3">

                        <img src="images/humidifier/dehumidifier 2.jpg" class="img-responsive" />

                    </div>

                    <div class="col-xs-6 col-sm-3">

                        <img src="images/humidifier/dehumidifier 3.jpg" class="img-responsive" />

                    </div>

                    <div class="col-xs-6 col-sm-3">

                        <img src="images/humidifier/dehumidifier 5.png" class="img-responsive" />

                    </div>

        
                </div>
            </div>
        </div>
        
    </section>

<% include footer.html %>