<% var activemenu = 'shop'; %>
<% include header.html %>

	<div class="pg-opt pin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Cart</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
	</div>




<section id="cartbody" class="slice bg-3" style="display:none;">
    <div class="w-section inverse shop">
        <div class="container">
            <div class="row">
                <div class="col-md-12 acc-wizard">
                	<div class="col-md-3" style="background-color:#fff; border:1px solid #EEE;" >
                		<h4>Ordering your Funkybod</h4>
                		<hr>
                		<ol class="acc-wizard-sidebar">
						  <li class="acc-wizard-todo"><a href="#collapse3b">View your order</a></li>
						  <li class="acc-wizard-todo"><a href="#collapse3a">Enter your address</a></li>
						  <li class="acc-wizard-todo"><a href="#collapseSix">Enter your card details</a></li>
						  <li class="acc-wizard-todo"><a href="#collapseSeven">Complete your purchase</a></li>
						  
						</ol>
					
				<div ng-if="cart.items.length>0">		
						<hr>
					
					<h4><i class="fa fa-shopping-cart"></i> Shopping bag	</h4>
					<hr>
					<div>

						<img ng-src="{{ cart.items[0].image }}" class=" img-responsive img-center" alt="">
						<p align="center">{{ cart.items[0].name }}</p>
						<p align="center">{{ cart.items[0].price }}</p>
					</div>
					<hr>
				</div>
				<div ng-if="cart.items.length>1">	
					<div ng-click="shoppingExtra=!shoppingExtra" >
					+ {{cart.items.length-1}} More. Show All
					<hr>
						
					</div>
						<div ng-show="shoppingExtra">
							<div ng-repeat="item in cart.items.slice(1)">

							<img ng-src="{{ item.image }}" class="img-responsive img-center" alt="">
							<p align="center">{{ cart.items[0].name }}</p>
							<p align="center"><strong>{{ cart.items[0].price }}</strong></p>
					</div
							</div>	
						</div>	

                	</div>
                	<div>
                	<h5><strong>Cost breakdown</strong></h5>
	                	<hr>
	                	<div class="col-xs-6"><strong>Subtotal:</strong></div>	
	                	<div class="col-xs-offset-10 "> {{ cart.getTotal() | currency:"£" }}</div>
	                	<div class="col-xs-6"><strong>Shipping:</strong></div>	
	                	<div class="col-xs-offset-10 "> {{ cart.getTotal() | currency:"£" }}</div>
	                	<div class="col-xs-6"><strong>Total:</strong></div>	
	                	<div class="col-xs-offset-10 "> {{ getTotal() | currency:"£" }}</div>

	                	
                	</div>


				</div>
                	<div class="panel-group col-md-9 " id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">
                                        View and edit your order
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3b" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                   			<table class="table table-cart  table-responsive" ng-cloak>
						                        <tbody>
						                            <tr>
						                                <th></th>
						                                <th></th>
						                                <th>Product name</th>
						                                <th>Price</th>
						                                <th>Quantity</th>
						                                <th>Total</th>
						                            </tr>
						                        
						                            <tr ng-repeat="item in cart.items">
						                                <td class="remove-cell"><a href="" class="cart-remove" title="Remove item" ng-click="cart.removeItem(item.id);cart.save();"><i class="fa fa-times-circle fa-2x"></i></a></td>
						                                <td><img ng-src="{{ item.image }}" class="img-center" alt=""></td>
						                                <td><a href="">{{ item.name }}</a></td>
						                                <td>{{ item.price | currency:"£" }}</td>
						                                <td>
						                                    <input ng-change="cart.save()" type="number" name="cant" ng-model="item.qty" style="width:60px; text-align:center; margin-right:5px; height:34px;">
						                                </td>
						                                <td>{{ item.price * item.qty | currency:"£" }}</td>
						                            </tr>
						                            <tr>
						                                	<td colspan="4"></td>
						                                	<td><strong>Total excluding postage</strong></td>
                                    						<td align=""><strong>{{ cart.getTotal() | currency:"£" }}</strong></td>

						                            </tr>
						                        </tbody>
						                    </table>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">
                                        Enter your address details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3a" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                    		<address-form />
                                    </div>
                                </div>
                            </div>
                            
                            
                                       
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseSix">
                                        Enter your card details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                 							<stripe-button />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseSeven">
                                        Complete your purchase
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                          <p>Total: {{ getTotal() | currency:"£" }}</p>
                                    	<submit-form />
                                    </div>
                                </div>
                            </div>
                           
                        

                    </div>

                    
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                	  
                    

                   
                </div>
                
                
            </div>
        </div>
    </div>
</section>


<script src="https://checkout.stripe.com/checkout.js"></script>

  

<% include footer.html %>