<% var activemenu = 'shop'; %>
<% include head_checkout.html %>
<% include header.html %>

	<div class="pg-opt pin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Cart</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
	</div>

<section class="slice bg-5">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
	            <div class="col-xs-2" >
					<img src="/images/secure.png" alt="SSL Certificate" title="SSL Certificate"  />
	            </div>
				<div class="col-xs-2 " >
					<img src="images/payment.png" alt="Visa, Mastercard, Amex &amp; Paypal" title="Visa, Mastercard, Amex &amp; Paypal">
	            </div>
            </div>
        </div>
    </div>        		
</section>

<section id="cartbody" class="slice bg-3" ng-controller="CheckoutCtrl" style="display:none;">
    <div class="w-section inverse shop">
        <checkout cart="cart" shipping="shipping" settings="checkoutdata" labels="labels" />
    </div>
</section>


<script src="https://checkout.stripe.com/checkout.js"></script>
<% include data.html %>
<% include footer.html %>
<script>
    $(function(){
        $('#cartbody').show();
        $(".acc-wizard").accwizard({
            addButtons:true
        });
        //$(".acc-wizard-step").remove();
    })

</script>