<% var activemenu = 'faqs'; %>
<% include head_faqs.html %>
<% include header.html %>



	<div class="pg-opt pin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently asked questions</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">FAQ</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
    
    <section class="slice bg-4">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Our undershirt has been rigorously tested </h2>
                            <p>
                               The Funkybod muscle top is the result of intense research gathered over some years.  This, coupled with a technical approach to the materials and manufacturing technique, makes for a high quality undershirt which has been rigorously tested. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice bg-3" ng-controller="DataCtrl">
    <div class="w-section inverse">
        <div class="container">
          <div class="col-md-9">
                                              


                        <h3 class="section-title">Want to know more?</h3>

              <div class="row">
                  <div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">
                                        what's the science behind funkybod tops?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3b" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Advanced fabric technology allowing the skin to 
                  breathe with microfibres for softness and comfort. 
                  All this is combined with more breaking technology 
                  in the discreet plates used for muscle sizing, when 
                  a muscle is tensed that area will feel tense and 
                  when relaxed will behave accordingly therefore 
                  making it very hard to realise one is being worn.
                                    <br><br>
                                    Our muscle enhancing top is a high quality garment to accentuate the Pectorals, shoulders, biceps, and triceps.  This gives the effect of an improved posture with a natural looking balance all-round.  Worn as a normal undershirt garment, the Funkybod top is a great confidence booster for men in the same way a padded bra works for women.  Available in Black or White..
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">
                                        How does it work?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3a" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                    Designed to give the appearance and feel of muscle size and definition.  Features   of the Funkybod muscle top:
                                      <ul>
                                        <li>Chest plates giving a pumped look.</li>
                                        <li>Shoulder plates to give a broader look.</li>
                                        <li>Bicep plates giving bigger biceps.</li>
                                        <li>Tricep plates giving bigger triceps.</li>
                                        <li>Feels realistic to the touch.</li>
                                      </ul>
                                      <p>Looks and feels like a T-shirt, designed to be worn as an under garment. Shortened sleeves so as not to be visible when worn under a shirt with cuffs.
                                      </p>
                                    </div>
                                </div>
                            </div>
                            
                            
                                       
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseSix">
                                        Minimising our Carbon Footprint
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                   At Funkybod, we try to source materials and manufacturing within a reasonable locality.  This cuts down on transport within the manufacturing schedule.  Transportation within the manufacturing process can add enormously to the carbon footprint of the product.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseSeven">
                                        What is the fabric like?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                   The fabric used for Funkybod tops is soft, smooth,  
                  cool, comfortable and highly absorbant but does not insulate body heat therefore making them ideal for use in warm and humid conditions. Funkybod tops are skin friendly and have the appearance of cotton.


                  For any specific information not mentioned, please feel free to contact us using the details on our contact page.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseFour">
                                        How to wash your Funkybod top.
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    The Garment should be washed at a maximum temperature of
                  40 degrees and should NOT be tumble dried..
                                    </div>
                                </div>
                            </div>
                        

                        </div>
              </div>
               <div class="row">
                            <div class="col-md-6">
                                <h3 class="section-title">Size information</h3>
                                <div>
                                      <p>
                                        <strong>Please note</strong>
                                        <br>
                                        There is a size tolerance of +/- 2cm
                      If in doubt regarding the best size to suit, please follow the measurement chart as closely as possible
                                      </p>
                                      </div>
                                    <div>
                                        <size-table silent="true" />
                               		</div>
                            </div>
                            
                            <div class="col-md-6">
                                <h3 class="section-title">Purchase &amp; Shipping</h3>
                                <div class="panel-group" id="accordionTwo">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2a">
                                                Is International shipping available?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2a" class="panel-collapse collapse">
                                            <div class="panel-body">

                                        <strong>Please note</strong>
                                        <br>
                                        Yes.  CUSTOMER NOTICE.. We ship ONLY to the Address you provide during the Checkout process. Thank You.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2b">
                                                Purchase Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2b" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                             At Funkybod we provide a secure enviroment for you to complete your transaction and support Visa, Mastercard &amp; American Express.  We also provide you with the optiom of using Paypal for transactions due to their reputation for protecting both the buyer and seller.  You do not need to have a paypal account in order to purchase, just either a Debit or Credit card.  Enjoy your new Funkybod undershirt.

                                             <a class="thumbnail" style="border:none"><img src="images/payment.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2d">
                                                Are payments completed over a secure server?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2d" class="panel-collapse collapse">
                                            <div class="panel-body">
                                             Yes. Our cart is served at a secure https address.
                                             <a class="thumbnail" style="border:none;" ><img src="/images/PositiveSSL_tl_trans2.gif" alt="SSL Certificate" title="SSL Certificate" border="0" /></a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2c">
                                                Returns &amp; refunds
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2c" class="panel-collapse collapse">
                                            <div class="panel-body">
                                             Please contact us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#101;&#110;&#113;&#117;&#105;&#114;&#105;&#101;&#115;&#64;&#102;&#117;&#110;&#107;&#121;&#98;&#111;&#100;&#46;&#99;&#111;&#109;">&#101;&#110;&#113;&#117;&#105;&#114;&#105;&#101;&#115;&#64;&#102;&#117;&#110;&#107;&#121;&#98;&#111;&#100;&#46;&#99;&#111;&#109;</a> should you need to return your top or discuss a refund for any reason.  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                  
                            </div> 
                        </div>   
            </div>
                <div class="col-md-3">
                        
                        
                        <h3 class="section-title">Testimonials</h3>
                        <div class="contrast-box bg-5">
                            <p>
                            <i class="fa fa-quote-left"></i>
                            
                            Your product has changed the way I wear shirts. Now I wear the funkybod shirt every day for now on. It does the job better than other things I have tried. Its more comfortable than wearing an A-shirt or a slimming shirt, but instead of just covering up or holding in my chest like a slimming shirt, it actually makes it look better. I already ordered two more last week.
                            <small>Eartha Aiken from USA</small>
                            </p>
                        </div>
                            <div class="contrast-box bg-5">
                            <p>
                            <i class="fa fa-quote-left"></i>
                            Hi, just received my undershirt, was very pleased with it. I have lost a lot of weight since developing ulcerative colitis and the shirt will help me with my body image. It did occur to me, what a great addition it would be to have a shorter sleeved version. I know this doesn't fully address skinny arms, but it would certainly give a better body shape.
							Anyway thanks for the prompt delivery, got it the next day. Will buy again..
                            <small>Mr Cole from UK</small>
                            </p>
                        </div>
                </div>
        </div>
    </div>

	</section>
<% include data.html %>    
<% include footer.html %>