<% include header.html %>

<div ng-controller="HireCtrl">   

    <div class="hirestuff">
        <div class="container">
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <div class="callnow">
                        <h3><strong>call us!</strong></h3>
                        <div class="bigcallnum"><strong class="phone"><a href="tel:+441179095727" class="blacklink">0117 9095727</a></strong></div>
                        <div class="smallcallnum"><strong class="phone"><a href="tel:+447903801031" class="blacklink">07903 801031</a></strong></div>
                        <div class="smallcallnum"><strong class="phone"><a href="tel:+447966487504" class="blacklink">07966 487504</a></strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="hirestuff">
        <div class="callnow">
            <h3>call us on: <strong class="phone">07903 801031</strong> or <strong class="phone">07966 487504</strong></h3>
        </div>
    </div>-->

    <div class="container" ng-if="!selected">

        <div class="row">

            <div class="col-lg-12">
                <h2>silver range: <strong class="phone">&pound;95</strong> per week</h2>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6" ng-repeat="item in shopdata.dehumidifers | filter:{group:'silver'}" style="cursor:pointer;" ng-click="selecthire(item)">
                <toptrump data="item" fields="toptrump_fields" name="name" image="image">
                    <div style="text-align:center">
                        <h4>{{ item.name }}</h4>
                        <img ng-src="{{ item.image }}" height="100" />
                    </div>
                </toptrump>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h2>gold range: <strong class="phone">&pound;145</strong> per week</h2>
            </div>

        </div>

        <div class="row"> 
            <div class="col-lg-3 col-sm-6" ng-repeat="item in shopdata.dehumidifers | filter:{group:'gold'}" style="cursor:pointer;" ng-click="selecthire(item)">
                <toptrump data="item" fields="toptrump_fields" name="name" image="image">
                    <div style="text-align:center">
                        <h4>{{ item.name }}</h4>
                        <img ng-src="{{ item.image }}" height="100" />
                    </div>
                </toptrump>
            </div>

        </div>
    </div>

    <div class="container" ng-if="selected">

        <div class="row">

            <div class="col-lg-12" style="font-size:1.3em;">
                <h2>{{ selected.name }} <strong class="phone">&pound;{{ selected.price }}</strong> per week</h2>



                <toptrump data="selected" fields="toptrump_fields">
                    <div style="text-align:center">
                        <h4>{{ selected.name }}</h4>
                        <img ng-src="{{ selected.image }}" />
                    </div>
                </toptrump>

                <div style="margin-top:10px;">
                    <a class="btn btn-lg btn-info" href="#/">&laquo; back</a>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
window._data = {
    shopdata:<%- JSON.stringify(shopdata) %>
}
</script>
<% include footer.html %>


