<% var activemenu = 'media'; %>
<% include head_media.html %>
<% include header.html %>


		<div class="pg-opt pin">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <h2>Media</h2>
	                </div>
	                <div class="col-md-6">
	                    <ol class="breadcrumb">
	                        <li><a href="/">Home</a></li>
	                        <li><a href="media">Media</a></li>
	                        
	                    </ol>
	                </div>
	                
	            </div>
	        </div>
	    </div>
    <section class="slice bg-4 p-50">
        <div class="w-section inverse">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>People cant stop talking about Funkybod's muscle enhancing top</h2>
                            <p>
                                Funkybod - Everyone has something to say about our muscle top for men.    
                                <br>
                                
                            </p>
                            <span class="clearfix"></span>
                            
                            <div class="text-center">
                                <!--<a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-one margin-t-20 ext-source" title="">Whatch our video</a>-->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
 	<section class="slice animate-hover-slide bg-3">
        <div class="w-section inverse">
            <div class="container">
                <p style="margin-bottom:20px;">
                The Funkybod top has been an overwhelming success with worldwide demand for our muscle top for men. This has lead to funkybod being covered on mainstream news and TV shows as well as being talked about on social networking sites and many forums and blogs. A selection of media covering Funkybod can be found within.
                </p>
                <h3 class="section-title">Media coverage</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="w-box">
                            <div class="figure">
                                <img alt="" src="images/timeline/stock-photo-11847080-news.jpg" class="img-responsive">
                                <div class="figcaption bg-4"></div>
                                <div class="figcaption-btn">
                                    
                                    <a href="media_articles" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <h2>News coverage</h2>
                            <p>
                            Funkybod and Funkybod tops articles covered by magazines and newspapers.
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="w-box">
                            <div class="figure">
                                <img alt="" src="images/timeline/videograb.jpg" class="img-responsive">
                                <div class="figcaption bg-4"></div>
                                <div class="figcaption-btn">
                                    <a href="media_videos" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <h2>Video coverage</h2>
                            <p>
              Funkybod and Funkybod tops videos covered by the media and other sources.

                            </p>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="w-box">
                            <div class="figure">
                                <img alt="" src="images/timeline/stock-photo-25421735-social-media-concept.jpg" class="img-responsive">
                                <div class="figcaption bg-4"></div>
                                <div class="figcaption-btn">
                                    <a href="media_social" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <h2>Social Media</h2>
                            <p>
                            Facebook Youtube and other social media posts talking about Funkybod.
                            </p>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </section>


  <section class="slice relative animate-hover-slide bg-3 hidden-xs">
        <div class="w-section inverse">
            <div class="container">
                <h3 class="section-title">funkybod featured worldwide</h3>
                
                <div id="carouselWork" class="carousel-3 slide animate-hover-slide active">
                    <div class="carousel-nav">
                        <a data-slide="prev" class="left" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
                        <a data-slide="next" class="right" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
                    </div>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                                  
                                          <img alt="" src="images/featured/esquire.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                               
                                                <a href="media_articles" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>Esquire Magazine</h2>
                                                <small>Esquire Magazine</small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                                  
                                          <img alt="" src="images/featured/times.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                               
                                                <a href="media_articles" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>THE TIMES</h2>
                                                <small>THE TIMES</small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/huff.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                                
                                                <a href="media_articles" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>Huffington Post</h2>
                                                <small>Huffington Post</small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/cnet.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                                
                                                <a href="media_articles" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>CNET</h2>
                                                <small>CNET</small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                            	<div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/itv.jpg" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                                
                                                <a href="media_videos" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>ITV - This Morning</h2>
                                                <small>ITV - This Morning</small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>	
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/6abc.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                                
                                                <a href="media_videos" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>6abc Video</h2>
                                                <small>6abc Video</small>
                                            </div>
                                            
                                        </div>
                                      </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/myfox.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                             
                                                <a href="media_articles" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>myfoxny.com</h2>
                                                <small>myfoxny.com</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/bbc.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                                <a href="media_videos" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>BBC South East</h2>
                                                <small>BBC South East</small>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                         <div class="item">
                            <div class="row">
                            		<div class="col-sm-3">
                                    <div class="w-box inverse">
                                        <div class="figure">
                                            <img alt="" src="images/featured/rtm.png" class="img-responsive">
                                            <div class="figcaption bg-4"></div>
                                            <div class="figcaption-btn">
                                                
                                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h2>Right this Minute</h2>
                                                <small>Right this Minute</small>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="like-button">
                                                    <span class="button">
                                                      
                                                    </span>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                       				
                       		</div>
                         </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>        
	<section class="slice bg-3">
	    <div class="w-section inverse">
	        <div class="container">
	            <div class="row">

                
	                <div class="widget tags-wr">
                            <ul class="tags-list">
                            <li><i class="fa fa-users"></i> <a class="">
                                The Sun
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                 Guardian
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Times
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Evening Standard
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Cosmopolitan
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Grazia
                            </a></li>
                        
                            <li><i class="fa fa-users"></i> <a class="">
                                Moda
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                 Le Figaro
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Bellwether
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Mia
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                 Radio 4
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Heart FM
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                 Kiss FM
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                 Radio Wales
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Splash news
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                Zoo
                            </a></li>
                            <li><i class="fa fa-users"></i> <a class="">
                                  World of Entertainment network WENN
                            </a></li>
                            <li><i class="fa fa-users"></i> <a  class="">El-Confidencial</a></li>

                            <li><i class="fa fa-users"></i> <a  class="">My gay trip</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">World smartest inventions (truTV)</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">Orlando sentinel</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">ib Times</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">Daily edge</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">daily mirror</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">gizmodo</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">world of wonders WOW</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">gift4gays</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">Buzzfeed</a></li>
                            <li><i class="fa fa-users"></i> <a href="http://www.bitesizetv.com/#!/the-girl-spot-chick-chat/&episodeId=2238" target="_blank"  class="">bitesizetv</a></li>
                            <li><i class="fa fa-users"></i> <a  class="">Scandinavian News</a></li>
                
                            </ul>
                    </div>
	            </div>
	        </div>
	    </div>
	</section>
   

    
<% include footer.html %>