<% var activemenu = 'media'; %>
<% include head_vmedia.html %>
<% include header.html %>



<div class="pg-opt pin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Media - Videos</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                       <li><a href="/">Home</a></li>
                        <li><a href="media">Media</a></li>
                        <li class="active">Videos</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>

 <section class="slice bg-2">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h4><i class="fa fa-users fa-3x"></i></h4>
                            <h2>Look whose talking about Funkybod!</h2>
                            <p>
                                From the BBC to ABC, everyone's talking about Funkybod!
                                <br>
                                A selection of videos mentioning Funkybod
                            </p>
                            <span class="clearfix"></span>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
 <section class="slice bg-3 no-padding">
        <div class="w-section inverse">
            <div class="container">
                
                <ul class="timeline">
                
                    
                                        
                
                    
                    <li class="year">Videos</li>
                    
                      <li class="event offset-first">
                        <div class="event-date">
                            Funkybod profiled on the BBC
                            <small>15 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe  height="315" src="//www.youtube.com/embed/6A4S_TUNMoQ" frameborder="0" allowfullscreen></iframe>
                                            <p>
                                                Funkybod Muscle top or Wundershirt. 
                                                <br><br>
                                                Funkybod News article for padded undershirt for men. Making men look buff without the extra workout!.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            
                        </div>
                    </li>

            

                    <li class="event">
                        <div class="event-date">
                            Funkybod appears on This Morning - ITV
                            <small>6 December 2013</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-12">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/Lq3IVv_bhZI" frameborder="0" allowfullscreen></iframe>
                                    <p>
                                        This morning - ITV 
                                        <br><br>
                                        See what Darren Kenedy, Eamonn Holmes and co say about the bra for men 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                          
                        </div>
                    </li>
                            <li class="event">
                        <div class="event-date">
                            Funkybod appears on 6abc
                            <small>Date unkown</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-12">
                                <object id="otvPlayer" width="100%" height="315"><param name="movie" value="http://cdn.abclocal.go.com/static/flash/embeddedPlayer/swf/otvEmLoader.swf?version=fw1000&station=wpvi&section=&mediaId=9299243&cdnRoot=http://cdn.abclocal.go.com&webRoot=http://abclocal.go.com&configPath=/util/&site=" ></param><param name="allowScriptAccess" value="always"></param><param name="allowNetworking" value="all"></param><param name="allowFullScreen" value="true"></param>
                <embed id="otvPlayer" width="100%" height="315" type="application/x-shockwave-flash" allowscriptaccess="always" allownetworking="all" allowfullscreen="true" 
                src="http://cdn.abclocal.go.com/static/flash/embeddedPlayer/swf/otvEmLoader.swf?version=fw1000&station=wpvi&section=&mediaId=9299243&cdnRoot=http://cdn.abclocal.go.com&webRoot=http://abclocal.go.com&configPath=/util/&site="></embed></object>
            
                                    <p>
                                        Funkybod discussed on Action news - morning bizz.
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                          
                        </div>
                    </li>
            
                    <li class="event">
                        <div class="event-date">
                            Funkybods video on GeoBeats News
                            <small>25 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <iframe width="560" height="315" src="//www.youtube.com/embed/8ecS4WTPSyw" frameborder="0" allowfullscreen></iframe>
                                            <p>
                                               GeoBeats News. 
                                                <br><br>
                                                New Muscle Shirts Boost Men's Self-Confidence
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Funkybods video by Tekno Haber
                            <small>3 November 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe width="560" height="315" src="//www.youtube.com/embed/W_S4imtMzv8" frameborder="0" allowfullscreen></iframe>
                                            <p>
                                                Tekno Haber.
                                                <br><br>
                                                Muscle Enhancing Shirt Lifts and Separates For Men. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Lydia Harris's online comedy show 'Shugga' Comedy = Teen Gossip 
                            <small>24 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe width="560" height="315" src="//www.youtube.com/embed/dGqs3fOVUuE" frameborder="0" allowfullscreen></iframe>
                                            <p>
                                                'Shugga' &amp;Barbie talk about Funkybod . 
                                                <br><br>
                                               Funkybod Muscle Tshirt...A Push-Up Undershirt For Men
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a target ="_blank" href="http://www.youtube.com/playlist?list=PLjO-iTwzWHhxRH1ON35cUFUTy5FmmWmIu" class="btn btn-xs btn-three pull-right">View more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            ALex belov
                            <small>December 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe width="560" height="315" src="//www.youtube.com/embed/w1yW7JiRqsg" frameborder="0" allowfullscreen></iframe>
                                            <p>
                                               Russian video promoting FUnkybod
                                                <br><br>
                                               T-shirt for men, simulating muscle
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>    
    </section>

 	<% include footer.html %>