<% var activemenu = 'media'; %>
<% include head_amedia.html %>
<% include header.html %>

<div class="pg-opt pin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Media - Articles</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="media">Media</a></li>
                        <li class="active">Articles</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>

 <section class="slice bg-4">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h4><i class="fa fa-users fa-3x"></i></h4>
                            <h2>Look whose talking about Funkybod!</h2>
                            <p>
                                Funkybod has been mentioned in various mainstream papers &amp; magazines from the The Huffington Post to Esquire Magazine.
                                <br><br>
                                A selection of articles are listed below.
                            </p>
                            <span class="clearfix"></span>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
 <section class="slice bg-3 no-padding">
        <div class="w-section inverse">
            <div class="container">
                
                <ul class="timeline">
                    <li class="year">News</li>
                    <li class="event offset-first">
                        <div class="event-date">
                            Funkybod: A push-up undershirt for men - MYFOXNY
                            <small>07 November 2013</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-3">
                                <img src="images/timeline/MyFoxNY-Logo.jpg" class="img-responsive" alt="MyFoxNY logo">
                                </div>
                                <div class="col-md-9">

                                    <p>
                                        MYFOXNY.COM -
                                        <i class="fa fa-quote-left"></i> Gentleman, if you're looking for a nice, toned body, and you simply are too lazy, or don't have the time to work out, then perhaps the Funkybod is for you.<i class="fa fa-quote-right"></i>

                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="http://www.myfoxny.com/story/23774341/funkybod-a-push-up-undershirt-for-men" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>

                      <li class="event">
                        <div class="event-date">
                            Do my pecs look big in this - THE TIMES
                            <small>26 October 2013</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                            <div class="col-md-12 " style="">
                                <img src="images/timeline/times.gif" class="img-responsive" alt="THE TIMES">
                                    <p>
                                        <i class="fa fa-quote-left"></i> Women have push-up bras, body-squeezing underwear, gel inserts and dresses that come with their own optical illusions. Now men can call on their own weapon of mass deception. <i class="fa fa-quote-right"></i>
                                        
                                    </p>
                            </div>
                                
                                
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="http://www.thetimes.co.uk/tto/life/fashion/mensstyle/article3905058.ece" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>

                    <li class="event">
                        <div class="event-date">
                            A push-up bra for men - HuffPost
                            <small>23 October 2013</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                            <div class="col-md-2 col-md-offset-1" style="margin-top:5%">
                                <img src="images/timeline/huff.png" class="img-responsive" alt="huffington post logo">
                            </div>
                                <div class="col-md-9">
                                    <p>
                                        <i class="fa fa-quote-left"></i> It isn't easy to achieve the body of a Greek god. Thanks to the Funkybod Muscle Top, aspiring muscle men needn't toil away at the gym any longer to attain a ripped physique. <i class="fa fa-quote-right"></i>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="http://www.huffingtonpost.com/2013/10/23/funkybod-muscle-top_n_4149295.html" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                                 Muscle-enhancing shirt lifts and separates for men -cnet
                            <small>23 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-3" style="">
                                            <img src="images/timeline/200px-CNET.svg.png" class="img-responsive" alt="">
                                        </div>    
                                        <div class="col-md-9">
                                            
                                            <p>
                                                <i class="fa fa-quote-left"></i> Special underwear shirts turn saggy man-chests into pec-tastic torsos with the artful placement of padding and stretch materials. <i class="fa fa-quote-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="http://news.cnet.com/8301-17938_105-57608980-1/muscle-enhancing-shirt-lifts-and-separates-for-men/" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>

                    <li class="event">
                        <div class="event-date">
                            Funkybod Padded Shirt - Padded Muscle Shirt - Esquire
                            <small>October 21, 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/timeline/esquire-logo.jpg" class="img-responsive" alt="">
                                            <p>
                                                <i class="fa fa-quote-left"></i> Funkybod: Like a Padded Bra, but for Dudes.  If you want to really transform your physique, you're going to have to do some work. As in working out.  Or are you? <i class="fa fa-quote-right"></i>

                                                <br><br>
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="http://www.esquire.com/blogs/mens-fashion/funkybod-muscle-shirt-1013" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    
                    <li class="event">
                        <div class="event-date">
                                 
              Geeks, Hide Your Moobs with the FunkyBod Muscle-Enhancing T-Shirt - Geeks are Sexy

                            <small>October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/timeline/geeksaresexy-logo.png" class="img-responsive" alt="">
                                            <p>
                                                <i class="fa fa-quote-left"></i> Geeks, Hide Your Moobs with the FunkyBod Muscle-Enhancing T-Shirt <i class="fa fa-quote-right"></i>
                                               
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="http://www.geeksaresexy.net/2013/10/24/geeks-hide-your-moobs-with-the-funkybod-muscle-enhancing-t-shirt/#wdFY399lwLu9TBDi.99" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    
                                        
                    <li class="clearfix"></li>
                    
                </ul>
            </div>
        </div>    
    </section>

     
     
 <% include footer.html %>