<% var activemenu = 'shop'; %>
<% include head_shop.html %>
<% include header.html %>

<section class="slice bg-3">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="section-title">Order cancelled!</h3>
                    <p>
                        Your payment has been cancelled.  
                    </p>
                    <p>Click the continue button to return to the home page or the checkout button to return to the shop.</p>
                    <a class="btn btn-two btn-md  " title="" href="/" >
                     Continue
                     </a>
                     <a class="btn btn-two btn-md  " title="" href="/cart.html" >
                     <i class="fa fa-shopping-cart"></i> Checkout
                     </a>

                    
                </div>
            </div>
        </div>
    </div>

</section>

<% include footer.html %>