<% var activemenu = 'shop'; %>
<% include head_shop.html %>
<% include header.html %>


<section id="sequence-theme">

        <div class="container">

        <div class="row">
            <div class="col-xs-6">  
               <img class="img-responsive"  src="images/naked5.png" />
            
            </div>
            <div class="col-xs-6">

                      
                <div class="hidden-xs " >
                                    <H1 style="margin-top:10%">
                                    HAVE YOU GOT YOURS?</H1>  
                                    <P>Buy funkybod top online in the Funkybod shop below</P>

                                    
	                				<p>
	                				<span class="badge">1</span> Select the size you require, color and style along with the quantity				</p>
	                				<p>
	                				<span class="badge">2</span> Click on the button labelled 'add to cart'</p>
	                				<p>
	            				    <span class="badge">3</span> Repeat steps 1 &amp; 2 to add additional products to your cart or click on the button labelled 'Checkout' to go to the secure cart.

					                </p>
					                <img src ="images/payment.png">


                                    
                </div>
                
            
           </div>
          <!-- <div class="col-xs-2" style="background:rgba(89,178,229,0.5); margin-top:5px"><br>
                            
                            
             </div>-->
            
            
        </div>
        </div>
        
        


    </section>


	 <div class="pg-opt pin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Funkybod Shop</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Shop</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
 

   


    <section class="slice bg-3">
        <div class="w-section inverse">
            <div class="container">
            	<div class="hidden-sm hidden-md hidden-lg"> 
                <h1 class="section-title"> The Funkybod shop.</h1>
                <p>
                <span class="badge">1</span> Select the size you require, color and style along with the quantity</p>
                <p>
                <span class="badge">2</span> Click on the button labelled 'add to cart'</p>
                <p>
                <span class="badge">3</span> Repeat steps 1 &amp; 2 to add additional products to your cart or click on the button labelled 'Checkout' to go to the secure cart.

                </p>
                </div>

                <shop />
                
            </div>
        </div>

    </section>
    <section class="slice bg-3">
        <div class="w-section inverse">
            <div class="container">


					    <div class="contrast-box bg-5">
                            <p>
                            <i class="fa fa-quote-left"></i>
                            
                            Your product has changed the way I wear shirts. Now I wear the funkybod shirt every day for now on. It does the job better than other things I have tried. Its more comfortable than wearing an A-shirt or a slimming shirt, but instead of just covering up or holding in my chest like a slimming shirt, it actually makes it look better. I already ordered two more last week.
                            <small>Eartha Aiken from USA</small>
                            </p>
                        </div>
                 </div>
        </div>

    </section>
                   

<% include data.html %>
<% include footer.html %>